
html{
    height: auto;
    min-height: 100%;
}

body{
    background: radial-gradient(#E3DAC9,#6bb10af1);
}

.login{
    width: 500px;
    display: inline-block;
    border: 2px solid #3f7d20;
    border-radius: 15px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 33%;
    background-color: rgb(245, 245, 245,0.8);

}

.login p{
    font-size: 40px;
    color: #454955;
    font-weight: bolder;
}

.cabecero{
    background-color: #6bb10af1;
}

.cabecero img {
    width: 307px;
    display: inline-block;
}

/* Estilo del contenedor del botón */
.dropdown {
    position:relative;
    display:contents;
    margin-left: -20px;
}

/* Botón principal */
.dropdown button {
    background-color: #f3841c;
    color: white;
    max-width: 350px;
    min-width: 160px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 25px;
    border: solid #131212 1px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    
}

.dropdown-menu {
    display: none;
    background-color: #FF7900;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    border: solid 1px #131212;
    background-color: #FF7900;
    cursor: pointer;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}


/* Mostrar el menú al pasar el ratón sobre el contenedor */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Cambiar el color del botón al pasar el ratón */
.dropdown:hover button {
    background-color: #131212;
    color: #FF7900;
    
}

/*.nuevo {
    background-color: #ff7d00;
    color: white;
    max-width: 350px;
    min-width: 160px;
    padding: 20px 20px;
    cursor: pointer;
    font-size: 25px;
    border: solid #131212 1px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 2px 2px 0.5px gray;
}*/

.navBar{
    background-color: rgba(15, 14, 14, 0.6);
    height: 81px;
    border: solid 1px black;
}

.navBar li{
    list-style: none;
    display: flex;
    float: left;
}

.navBar ul{
    margin: 0px;
}

.finDeNav{
    float: inline-end;
    background-color: #FF7900;
    width: 200px;
    height: 80px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 25px;
    text-shadow: 2px 2px 0.5px gray;
    text-decoration: none;
    padding: 20px 25px;
    text-align: center;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

.identidad {
    float: inline-end;
    font-size: 25px;
    padding: 30px;
    text-shadow: 2px 2px 0.5px gray;
}
