
html{
    height: auto;
    min-height: 100%;
}

body{
    background: radial-gradient(#E3DAC9,#6bb10af1);
}

.login{
    width: 500px;
    display: inline-block;
    border: 2px solid #3f7d20;
    border-radius: 15px;
    padding: 30px;
    margin-top: 60px;
    margin-left: 33%;
    background-color: rgb(245, 245, 245,0.8);

}

.login p{
    font-size: 40px;
    color: #454955;
    font-weight: bolder;
}

.cabecero{
    background-color: #6bb10af1;
}

.cabecero img {
    width: 307px;
    display: inline-block;
}

.menu{
    background-color: black;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu ul li{
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    padding: 10px;
    width: 160px;
    text-align: center;
}

.menu ul li a{
    display: inline-block;
    height: 100%;
    line-height: normal;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu ul li a :hover{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: black;
    color: azure;
    width: 160px;
    z-index: 1;
}

.nav-link:hover {
    color: #fff;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.identidad {
    float: inline-end;
    font-size: 25px;
    padding: 30px;
    text-shadow: 2px 2px 0.5px gray;
}

.formulario{
    border: solid 2px black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px; 
}

.botonEnviar{
    background-color: #0f0f0f;
    color: white;
    border-radius: 3px;
    border: solid 1px black;
    font-family: sans-serif;
    margin: 15px;
}
